* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(#facb03, #f6790b, #ed571c);
  text-align: center;
}

canvas {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
